<%= simple_form_for @issue,:url => series_issue_path, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> Issue</legend>

  <% if @issue.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:
      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= f.input :issue_number %>
 
  <%= f.association :series, label_method: :title, value_method: :id, prompt: "Select a Series" %>

  <%= f.input :own, :as => :boolean %>

  <div class="control-group">
      <label class="file optional control-label" for="issue_cover">Cover</label>
      <div class="controls">  
        <%= f.input_field :cover, :as => :file %>
        <span class="help-block"><small><a href="#" id="remove_cover_url-toggle">Or upload via url instead</a></small></span>
      </div>
  </div> 


  <div id="remove_cover_url-group" class="control-group hidden">
    <label class="url optional control-label" for="issue_remote_cover_url">Remote cover url</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-picture"></i></span>
      <%= f.input_field :remote_cover_url %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Reset', :type => :reset, :class => "btn btn-danger" %>
  </div>
</fieldset>
<% end %>
