<%= simple_form_for @issue, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> Issue</legend>

  <% if @issue.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:
      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= f.input :issue_number %>
 
  <%= f.association :series, label_method: :title, value_method: :id, prompt: "Select a Series" %>
  
  <div class="control-group">
    <label class="control-label">Own</label>
    <div class="controls">
      <%= best_in_place @issue, :own, :type => :checkbox, :collection => [raw("<div class='btn-group'><span class='js-noaction btn btn-danger'>No</span><span class='js-noaction btn'>Yes</span></div>"), raw("<div class='btn-group'><span class='js-noaction btn'>No</span><span class='js-noaction btn btn-success'>Yes</span></div>")] %>
    </div>
  </div>

  <%= f.input :cover, :as => :file %>

  <div class="control-group">
    <label class="url optional control-label" for="issue_remote_cover_url">Remote cover url</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-picture"></i></span>
      <%= f.input_field :remote_cover_url %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Reset', :type => :reset, :class => "btn btn-danger" %>
  </div>
</fieldset>
<% end %>
