<%= simple_form_for @issue, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> Issue</legend>

  <% if @issue.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:
      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= f.input :issue_number %>
 
  <%= f.association :series, label_method: :title, value_method: :id, prompt: "Select a Series" %>
  
  <%= f.input :own, :as => :boolean %>

  <%= f.input :cover, :as => :file %>
  <%= f.input :remote_cover_url %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Reset', :type => :reset, :class => "btn btn-danger" %>
  </div>
</fieldset>
<% end %>
