<%= form_for @issue, :html => {:multipart => true} do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_number %><br />
    <%= f.number_field :issue_number %>
  </div>
  <div class="field">
    <%= f.label :series_id %><br />
    <%= collection_select(:issue, :series_id, Series.all, :id, :title, :prompt => 'Please select a series') %>
  </div>
  <div class="field">
    <%= f.label :own %><br />
    <%= f.check_box :own %>
  </div>
	<div class="field">
	  <%= f.label :cover %><br />
    Upload a photo: <%= f.file_field :cover %>
	</div>  
  <div class="field">
    <%= f.label :remote_cover_url %><br />
    <%= f.text_field :remote_cover_url %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
