<p id="notice"><%= notice %></p>
	<%=	image_tag @issue.cover.url(:thumb).to_s %>
<p>
  <b>Issue number:</b>
  <%= @issue.issue_number %>
</p>

<p>
  <b>Series:</b>
  <%= @issue.series.title %>
</p>

<p>
  <b>Own:</b>
  <%= @issue.own %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path(@issue) %>
