<p id="notice"><%= notice %></p>

<p>
  <b>Volume number:</b>
  <%= @volume.volume_number %>
</p>

<p>
  <b>Series:</b>
  <%= @volume.series_id %>
</p>

<p>
  <b>Own:</b>
  <%= @volume.own %>
</p>


<%= link_to 'Edit', edit_volume_path(@volume) %> |
<%= link_to 'Back', volumes_path %>
