<%= simple_form_for @series, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> Series</legend>

  <% if @series.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:
      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :pull, :as => :boolean %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', root_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
