<h1>New Comics</h1>
<% if @wanted_items.any? %>
  <ul class="thumbnails series-issues">
    <%= render :partial => "issues/issue", :collection => @wanted_items, :locals => { :issue => @issue } %>
  </ul>
<% end %>

<!-- <table class="table table-striped">
  <legend>Pull List</legend>
  <thead>
    <tr>
      <th>Title</th>
      <th>Pull</th>
      <th>Issues</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pull_list.each do |series|%>
    <tr>
      <td><%= link_to series.title.titleize, series %></td>
      <td><%= series.pull %></td>
      <td><%= series.issues.count %></td>
      <td><%= link_to 'Show', series %></td>
      <td><%= link_to 'Edit', edit_series_path(series) %></td>
      <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br /> -->
<h1>Collection</h1>
<%= form_tag("/series", :method => "get", :class => "form-search") do %>
<div class="input-append">
  <%= text_field_tag :search, nil, :placeholder => "Title", 
      :class => "input-medium search-query" %>
  <%= submit_tag "Find!", :name => nil, :class => "btn" %>
</div>  
<% end %>

<ul class="nav nav-tabs nav-stacked">
<% @series.each do |series| %>
  <li>
  <%= link_to(series) do %>
    <%= series.title.titleize %> <span class="chevron"></span> <span class="count"><%= series.issues.count %></span>
  <% end %>
  </li>
<% end %>
</ul>
<%= will_paginate @series %>
<br />

<%= link_to 'New Series', new_series_path %> | <%= link_to 'New Issue', new_issue_path %>
