<h1>New Comics</h1>
<%
	@issues.each do |issue|
 		if issue.own == false
%>
  <tr>
    <td><%= issue.series.title %></td>
    <td>#<%= issue.issue_number %></td>
    <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
  </tr>
<% 
		end
	end  		
%>

<h1>Pull List</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Pull</th>
    <th>Issues</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @pull_list.each do |series|%>
  <tr>
    <td><%= link_to series.title, series %></td>
    <td><%= series.pull %></td>
    <td><%= series.issues.count %></td>
    <td><%= link_to 'Show', series %></td>
    <td><%= link_to 'Edit', edit_series_path(series) %></td>
    <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
<br />


<h1>Series in Collection</h1>
<%= form_tag("/series", :method => "get") do %>

	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>

<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Pull</th>
    <th>Issues</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series.each do |series| %>
  <tr>
    <td><%= link_to series.title, series %></td>
    <td><%= series.pull %></td>
    <td><%= series.issues.count %></td>
    <td><%= link_to 'Show', series %></td>
    <td><%= link_to 'Edit', edit_series_path(series) %></td>
    <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @series %>
<br />

<%= link_to 'New Series', new_series_path %>
