<h1>Series in Collection</h1>
<%= form_tag("/series", :method => "get") do %>
  <div class="input-group">
    <div class="input-row">
		<%= search_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => "button" %>
    </div>
	</div>
<% end %>

<ul class="list">
<% @all_series.each do |series| %>
  <li>
  <%= link_to(series) do %>
    <%= series.title %> <span class="chevron"></span> <span class="count"><%= series.issues.count %></span>
  <% end %>
  </li>
<% end %>
</ul>
<%= will_paginate @all_series %>
<br />

<%= link_to 'New Series', new_series_path %> | <%= link_to 'New Issue', new_issue_path %>
