<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @series.title %>
</p>

<p>
  <b>Pull:</b>
  <%= @series.pull %>
</p>

    <% if @series.issues.any? %>
      <h3>Issues (<%= @series.issues.count %>)</h3>
      <ol class="microposts">
        <%= render @series.issues %>
      </ol>
    <% end %>


<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
